@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins:300,400,500,600,700&display=swap");
.t-main {
  color: #cc2b5e;
}

.t-secondary {
  color: #339caa;
}

.t-gray {
  color: #7c7c7c;
}

.countup {
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.js .countup {
  opacity: 0;
}

.js .countup--is-visible {
  opacity: 1;
}

body {
  font-family: "Poppins", sans-serif;
}

.fadeIn {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadeIn.init {
  opacity: 1;
}

.fadeInLeft {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadeInLeft.init {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sec-heading {
  color: #cc2b5e;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero.ready .hero-body {
  -webkit-filter: blur(0) brightness(1);
          filter: blur(0) brightness(1);
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.hero .hero-body {
  background: #cc2b5e url("../assets/hero.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  -webkit-filter: blur(40px) brightness(8);
          filter: blur(40px) brightness(8);
}

.hero header {
  background: rgba(204, 43, 94, 0.5);
  position: absolute;
  bottom: 0;
}

.hero header .header-cta {
  margin-left: 40px;
}

.hero header .header-cta a {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  padding: 7px 25px;
  text-align: center;
  font-size: 20px;
  text-decoration: none !important;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.hero header .header-cta a:hover {
  background: #fff;
  color: #cc2b5e;
}

.hero header.sticky {
  position: fixed;
  top: 0;
  background: rgba(204, 43, 94, 0.9);
  z-index: 100;
  bottom: auto;
}

.hero header li:last-child a:after {
  display: none;
}

.hero header li a {
  color: #d8d8d8;
  padding: 30px 20px 25px;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}

.hero header li a:after {
  content: " | ";
  position: absolute;
  right: 0;
  color: rgba(216, 216, 216, 0.326);
}

.hero header li a.active {
  color: #fff;
}

.hero .hero-content {
  padding-top: 30vh;
}

.hero .hero-content h1 {
  font-size: 24px;
  color: #fff;
  margin-top: 60px;
  line-height: 42px;
}

.problem {
  background: #c12d63;
  background: -webkit-gradient(linear, left bottom, left top, from(#c12d63), to(#8c357c));
  background: linear-gradient(0deg, #c12d63 0%, #8c357c 100%);
  padding-bottom: 15vh;
  padding-top: 20vh;
  position: relative;
}

.problem .container.init h3 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.problem .container.init h5 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.problem .container.init h5.text-left {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.problem .container.init h5.text-right {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.problem h2 {
  font-size: 40px;
  margin-bottom: 7vh;
  font-weight: bold;
  color: #fff;
}

.problem h3 {
  font-size: 250px;
  font-weight: bold;
  line-height: 190px;
  margin: 30px 0;
  color: #fff;
  opacity: 0;
}

.problem h5 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  opacity: 0;
}

.problem .problem-content {
  font-size: 26px;
  line-height: 50px;
  font-weight: 600;
  margin-top: 40px;
  color: #fff;
}

.problem:after {
  content: " ";
  position: absolute;
  width: 250px;
  height: 110px;
  background-size: contain !important;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -90px;
  z-index: 10;
}

.problem.problem-1:after {
  background: url("../assets/p1.svg") no-repeat;
}

.problem.problem-2 {
  padding-top: 30vh;
  background: #f5f5f5;
}

.problem.problem-2 h3 {
  background: linear-gradient(355deg, #cc2b5e 52%, #d34a75 52%, #cc2b5e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.problem.problem-2 h5 {
  color: #cc2b5e;
}

.problem.problem-2 .problem-content {
  color: #3c3c3c;
}

.problem.problem-2:after {
  background: url("../assets/p2.svg") no-repeat;
}

.our-solution {
  padding-top: 150px;
}

.our-solution .our-solution-platforms {
  background: url("../assets/22090.jpg") no-repeat;
  padding: 100px 0;
  min-height: 70vh;
  background-size: cover;
  position: relative;
}

.our-solution .our-solution-platforms:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  width: 40%;
}

.our-solution .our-solution-platforms .platform-box {
  margin-bottom: 50px;
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 32px 0px 64px rgba(0, 0, 0, 0.05);
          box-shadow: 32px 0px 64px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  line-height: 36px;
}

.our-solution .our-solution-platforms .platform-box strong {
  color: #cc2b5e;
}

.our-solution h3 {
  color: #cc2b5e;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.our-solution .platform-description {
  font-size: 24px;
  line-height: 40px;
}

.our-solution strong {
  color: #cc2b5e;
  font-weight: bold;
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .our-solution h3 {
    font-size: 1.56vw;
    padding-top: 0.78vw;
    padding-bottom: 0.52vw;
  }
  .our-solution .platform-description {
    font-size: 1.25vw;
    line-height: 2.08vw;
  }
}

.sec-desc {
  font-size: 24px;
  line-height: 40px;
}

.sec-desc strong {
  font-weight: 600;
}

.our-platform {
  padding: 100px 0;
  background: #f9f9f9;
}

.our-platform .sub-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #cc2b5e;
  font-size: 18px;
}

.our-platform .platform-item h3 {
  color: #339caa;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.our-platform .platform-item p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 0;
}

.market {
  padding: 100px 0;
}

.market .sub-heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.market .market-map {
  margin: 130px auto;
  position: relative;
}

.market .market-map.init .market-item#australia {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}

.market .market-map.init .market-item#us {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
  opacity: 1;
}

.market .market-map.init .market-item#india {
  -webkit-transition-delay: 3.3s;
          transition-delay: 3.3s;
  opacity: 1;
}

.market .market-map.init #australia-pin {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.market .market-map.init #us-pin {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  opacity: 1;
}

.market .market-map.init #india-pin {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  opacity: 1;
}

.market .market-map .market-item {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.market .market-map .market-item .subtext {
  font-size: 16px;
  font-weight: 400;
}

.market .market-map .market-item#us {
  position: absolute;
  left: 0;
  top: -90px;
}

.market .market-map .market-item#us img {
  position: absolute;
  left: 190px;
  top: 100px;
  width: 110px;
}

.market .market-map .market-item#india {
  position: absolute;
  right: 0;
  top: -80px;
}

.market .market-map .market-item#india img {
  position: absolute;
  left: 190px;
  top: 100px;
  width: 110px;
}

.market .market-map .market-item#australia {
  position: absolute;
  left: 555px;
  top: 300px;
}

.market .market-map .map-pin {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.2, 0.2);
          transform: scale(0.2, 0.2);
}

.market .market-map #us-pin {
  position: absolute;
  left: 190px;
  top: 30px;
  width: 110px;
}

.market .market-map #india-pin {
  position: absolute;
  left: 630px;
  top: 68px;
  width: 110px;
}

.market .market-map #australia-pin {
  position: absolute;
  right: 20px;
  top: 210px;
  width: 110px;
}

.market .market-bottom .market-bottom-row {
  margin-bottom: 30px;
}

.market .market-bottom .market-bottom-row h3 {
  font-weight: 600;
  font-size: 28px;
  color: #cc2b5e;
  text-transform: uppercase;
  text-align: right;
}

.market .market-bottom .market-bottom-row p {
  font-size: 20px;
}

.market .market-bottom .market-bottom-row em {
  font-size: 16px;
}

.how-it-works {
  background: whitesmoke;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, whitesmoke), to(white));
  background: linear-gradient(180deg, whitesmoke 11%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#ffffff",GradientType=1);
  padding: 100px 0;
}

.how-it-works .sec-desc {
  font-size: 20px;
}

.how-it-works .platform-headings {
  color: #cc2b5e;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.how-it-works .how-it-works-timline {
  position: relative;
}

.how-it-works .how-it-works-timline:before {
  content: " ";
  height: 100%;
  width: 6px;
  background: #e2e2e2;
  border-radius: 4px;
  left: calc(50% - 3px);
  top: 0;
  bottom: 0;
  position: absolute;
}

.how-it-works .how-it-works-timline .time-line-row {
  margin-bottom: 80px;
  position: relative;
}

.how-it-works .how-it-works-timline .time-line-row:before {
  content: " ";
  height: 0;
  width: 6px;
  background: #cc2b5e;
  border-radius: 4px;
  left: calc(50% - 3px);
  position: absolute;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.how-it-works .how-it-works-timline .time-line-row img {
  -webkit-filter: grayscale(1) brightness(1.5);
          filter: grayscale(1) brightness(1.5);
}

.how-it-works .how-it-works-timline .time-line-row h4 {
  color: #339caa;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.how-it-works .how-it-works-timline .time-line-row p {
  font-size: 20px;
  line-height: 30px;
}

.how-it-works .how-it-works-timline .time-line-row.active:before {
  height: calc(100% + 50px);
}

.how-it-works .how-it-works-timline .time-line-row.active img {
  -webkit-filter: grayscale(0) brightness(1);
          filter: grayscale(0) brightness(1);
}

.how-it-works .how-it-works-timline .time-line-row.active h4 {
  color: #cc2b5e;
}

.how-it-works .how-it-works-timline .time-line-row.active p {
  color: #cc2b5e;
}

.our-product {
  padding: 100px 0;
  background: #f9f9f9;
}

.our-product .product-carousel .item h3 {
  color: #cc2b5e;
  font-size: 28px;
  font-weight: bold;
}

.our-product .product-carousel .item p {
  font-size: 20px;
  line-height: 32px;
  color: #3c3c3c;
}

.our-product .owl-prev {
  position: absolute;
  left: -60px;
  outline: 0;
  top: 20vh;
}

.our-product .owl-next {
  outline: 0;
  position: absolute;
  right: -60px;
  top: 20vh;
}

.team {
  padding: 100px 0 30px;
}

.team .container {
  padding: 0 100px;
}

.team .team-carousel .owl-stage-outer {
  overflow: visible;
  margin-top: 130px;
  padding: 80px 0;
}

.team .team-carousel .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team .team-carousel .owl-item {
  opacity: 0;
  -webkit-transition: scale 0.3s !important;
  transition: scale 0.3s !important;
}

.team .team-carousel .owl-item.active {
  opacity: 1;
}

.team .team-carousel .owl-item.active.center {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.team .team-carousel .owl-prev {
  position: absolute;
  left: -80px;
  outline: 0;
  top: 35%;
}

.team .team-carousel .owl-next {
  outline: 0;
  position: absolute;
  right: -80px;
  top: 35%;
}

.team .team-carousel .owl-next img,
.team .team-carousel .owl-prev img {
  -webkit-filter: grayscale(1) brightness(1.5);
          filter: grayscale(1) brightness(1.5);
}

.team .team-carousel .item {
  background: #fff;
  -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  padding: 30px;
}

.team .team-carousel .item h4 {
  font-size: 22px;
  color: #339caa;
  text-transform: uppercase;
}

.team .team-carousel .item h6 {
  font-weight: normal;
  font-size: 18px;
  color: #3c3c3c;
}

.team .team-carousel .item .avatar {
  border-radius: 15px;
  width: 100%;
  padding-bottom: 130%;
  position: relative;
  overflow: hidden;
  top: -60px;
  margin-bottom: -30px;
}

.team .team-carousel .item .avatar img {
  position: absolute;
  height: 100%;
  width: auto;
  left: -10%;
}

.our-partners {
  padding: 100px 0;
  background: #f9f9f9;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .hero header li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  .hero header .header-cta {
    margin-left: 20px;
  }
  .our-solution .our-solution-platforms {
    min-height: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .hero header li a {
    font-size: 1.1vw;
    line-height: 1.4vw;
    padding: 1.6vw 1.1vw 1.4vw;
  }
  .problem h2 {
    font-size: 2.1vw;
    margin: 0vw 0vw 4vw;
  }
  .problem .container h3 {
    font-size: 13.1vw;
    line-height: 9.9vw;
  }
  .problem .container h5 {
    font-size: 1.6vw;
  }
  .problem .problem-content {
    font-size: 1.4vw;
    line-height: 2.7vw;
    margin-top: 2.1vw;
  }
  .problem:after {
    width: 150px;
    height: 70px;
    bottom: -60px;
  }
  .sec-heading {
    font-size: 2.1vw;
  }
  .sec-desc {
    font-size: 1.3vw;
    line-height: 2.1vw;
  }
  .our-solution .our-solution-platforms .platform-box {
    font-size: 1.1vw;
    line-height: 1.9vw;
    padding: 2.1vw;
    margin: 0vw 0vw 2.7vw;
  }
  .our-platform .sub-heading {
    font-size: 1vw;
  }
  .our-platform .platform-item h3 {
    font-size: 1.1vw;
    margin: 0vw 0vw 0.3vw;
  }
  .our-platform .platform-item p {
    font-size: 1vw;
    line-height: 1.6vw;
  }
  .market .sub-heading {
    font-size: 1vw;
    letter-spacing: 1.5px;
  }
  .market .market-bottom .market-bottom-row h3 {
    font-size: 1.5vw;
  }
  .market .market-bottom .market-bottom-row p {
    font-size: 1.1vw;
  }
  .how-it-works .sec-desc {
    font-size: 1.1vw;
  }
  .how-it-works .how-it-works-timline .time-line-row h4 {
    font-size: 1.4vw;
  }
  .how-it-works .how-it-works-timline .time-line-row p {
    font-size: 1.1vw;
    line-height: 1.6vw;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    width: 100px;
  }
  .our-product .product-carousel .item h3 {
    font-size: 1.5vw;
  }
  .our-product .product-carousel .item p {
    font-size: 1.1vw;
    line-height: 1.7vw;
  }
  .team .team-carousel .item h4 {
    font-size: 1.2vw;
  }
  .team .team-carousel .item h6 {
    font-size: 1vw;
  }
}

@media (max-width: 1199px) {
  .hero header .header-cta a {
    font-size: 16px;
  }
  .hero header li a {
    font-size: 16px;
    line-height: 25px;
    padding: 20px 10px;
  }
  .problem h2 {
    font-size: 30px;
    margin: 0vw 0vw 50px;
  }
  .problem .container h3 {
    font-size: 180px;
    line-height: 150px;
  }
  .problem .container h5 {
    font-size: 24px;
  }
  .problem .problem-content {
    font-size: 20px;
    line-height: 32px;
    margin-top: 50px;
  }
  .problem:after {
    width: 150px;
    height: 70px;
    bottom: -65px;
  }
  .sec-heading {
    font-size: 30px;
  }
  .sec-desc {
    font-size: 20px;
    line-height: 32px;
  }
  .our-solution .our-solution-platforms .platform-box {
    font-size: 18px;
    line-height: 30px;
    padding: 30px;
    margin: 0vw 0vw 40px;
  }
  .our-platform .sub-heading {
    font-size: 16px;
  }
  .our-platform .platform-item h3 {
    font-size: 18px;
    margin: 0vw 0vw 20px;
  }
  .our-platform .platform-item p {
    font-size: 16px;
    line-height: 25px;
  }
  .market .sub-heading {
    font-size: 16px;
    line-height: 25px;
  }
  .market .market-bottom .market-bottom-row h3 {
    font-size: 20px;
  }
  .market .market-bottom .market-bottom-row p {
    font-size: 17px;
  }
  .market .market-map .market-item {
    font-size: 18px;
    line-height: 25px;
  }
  .how-it-works .sec-desc {
    font-size: 18px;
  }
  .how-it-works .how-it-works-timline .time-line-row h4 {
    font-size: 22px;
  }
  .how-it-works .how-it-works-timline .time-line-row p {
    font-size: 18px;
    line-height: 30px;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    width: 100px;
  }
  .our-product .product-carousel .item h3 {
    font-size: 22px;
  }
  .our-product .product-carousel .item p {
    font-size: 18px;
    line-height: 30px;
  }
  .team .team-carousel .item h4 {
    font-size: 18px;
  }
  .team .team-carousel .item h6 {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: auto !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    background: #cc2b5e;
  }
  header #menu-toggle {
    width: 30px;
    padding: 10;
    position: absolute;
    right: 25px;
  }
  header .header-cta {
    margin-left: 0;
    margin-right: 60px;
  }
  .hero .hero-content h1 {
    font-size: 20px;
    margin-top: 30px;
  }
  .logo-mobile {
    width: 100px;
  }
  .market .market-map #us-pin {
    position: absolute;
    left: 19vw;
    top: 3vw;
    width: 11vw;
  }
  .market .market-map #india-pin {
    position: absolute;
    left: 61vw;
    top: 6vw;
    width: 11vw;
  }
  .market .market-map #australia-pin {
    position: absolute;
    right: 1vw;
    top: 20vw;
    width: 11vw;
  }
  .market .market-map .market-item {
    position: static !important;
    margin-top: 20px;
  }
  .market .market-bottom .market-bottom-row h3 {
    text-align: left;
  }
  .how-it-works .how-it-works-timline:before,
  .how-it-works .how-it-works-timline .time-line-row:before {
    display: none;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    margin-bottom: 20px;
  }
  .our-product .owl-next {
    right: -30px;
  }
  .our-product .owl-next img {
    width: 30px;
  }
  .our-product .owl-prev {
    left: -30px;
  }
  .our-product .owl-prev img {
    width: 30px;
  }
  .team .team-carousel .owl-next {
    right: -100px;
  }
  .team .team-carousel .owl-prev {
    left: -100px;
  }
  .our-solution-platforms:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .problem .container h5 {
    font-size: 18px;
  }
  .problem .container h3 {
    font-size: 130px;
    line-height: 110px;
  }
  .our-platform .platform-item {
    margin-bottom: 70px !important;
  }
  .our-platform .platform-item h3 {
    font-size: 20px;
    margin: 20px 0vw 20px;
  }
  .market .sub-heading {
    letter-spacing: 0;
    text-transform: capitalize;
  }
  .market .market-map {
    margin: 30px auto;
  }
  .team .team-carousel .owl-stage-outer {
    margin-top: 30px;
  }
  .team .team-carousel .owl-item.active.center {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .team .container {
    padding: 0 50px;
  }
}
/*# sourceMappingURL=main.css.map */