@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins:300,400,500,600,700&display=swap");
$main: #cc2b5e;
$black: #3c3c3c;
$secondary: #339caa;
$gray: #7c7c7c;
.t-main {
  color: $main;
}
.t-secondary {
  color: $secondary;
}
.t-gray {
  color: $gray;
}
.countup {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.js .countup {
  // if js is enabled - hide countup before it is initialized
  opacity: 0;
}

.js .countup--is-visible {
  // show countup once it has been initialized
  opacity: 1;
}

body {
  font-family: "Poppins", sans-serif;
}

.fadeIn {
  opacity: 0;
  transition: all 1s;
}
.fadeIn.init {
  opacity: 1;
}
.fadeInLeft {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s;
}
.fadeInLeft.init {
  opacity: 1;
  transform: translateX(0);
}
.sec-heading {
  color: $main;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &.ready {
    .hero-body {
      filter: blur(0) brightness(1);
      transition: all 2s;
      transition-delay: 1s;
    }
  }
  .hero-body {
    background: $main url("../assets/hero.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    filter: blur(40px) brightness(8);
  }
  header {
    background: rgba($main, 0.5);
    position: absolute;
    bottom: 0;
    .header-cta {
      margin-left: 40px;
      a {
        border: 2px solid #fff;
        color: #fff;
        font-weight: 600;
        border-radius: 50px;
        padding: 7px 25px;
        text-align: center;
        font-size: 20px;
        text-decoration: none !important;
        transition: all 300ms;
        &:hover {
          background: #fff;
          color: $main;
        }
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      background: rgba($main, 0.9);
      z-index: 100;
      bottom: auto;
    }
    li {
      &:last-child {
        a:after {
          display: none;
        }
      }
      a {
        color: rgb(216, 216, 216);
        padding: 30px 20px 25px;
        font-size: 20px;
        font-weight: 300;
        position: relative;
        &:after {
          content: " | ";
          position: absolute;
          right: 0;
          color: rgba(216, 216, 216, 0.326);
        }
        &.active {
          color: #fff;
        }
      }
    }
  }

  .hero-content {
    padding-top: 30vh;
    h1 {
      font-size: 24px;
      color: #fff;
      margin-top: 60px;
      line-height: 42px;
    }
  }
}
.problem {
  background: rgb(193, 45, 99);
  background: linear-gradient(
    0deg,
    rgba(193, 45, 99, 1) 0%,
    rgba(140, 53, 124, 1) 100%
  );
  padding-bottom: 15vh;
  padding-top: 20vh;
  position: relative;
  .container {
    &.init {
      h3 {
        transition: all 0.1s;
        transition-delay: 0.5s;
        opacity: 1;
      }
      h5 {
        transition: all 0.5s;
        opacity: 1;
        &.text-left {
          transition-delay: 0s;
        }
        &.text-right {
          transition-delay: 2s;
        }
      }
    }
  }
  h2 {
    font-size: 40px;
    margin-bottom: 7vh;
    font-weight: bold;
    color: #fff;
  }
  h3 {
    font-size: 250px;
    font-weight: bold;
    line-height: 190px;
    margin: 30px 0;
    color: #fff;
    opacity: 0;
  }
  h5 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    opacity: 0;
  }
  .problem-content {
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 40px;
    color: #fff;
  }
  &:after {
    content: " ";
    position: absolute;
    width: 250px;
    height: 110px;
    background-size: contain !important;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -90px;
    z-index: 10;
  }
  &.problem-1 {
    &:after {
      background: url("../assets/p1.svg") no-repeat;
    }
  }
  &.problem-2 {
    padding-top: 30vh;

    background: #f5f5f5;
    h3 {
      background: linear-gradient(
        355deg,
        rgba(204, 43, 94, 1) 52%,
        rgba(211, 74, 117, 1) 52%,
        rgba(204, 43, 94, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h5 {
      color: $main;
    }
    .problem-content {
      color: $black;
    }
    &:after {
      background: url("../assets/p2.svg") no-repeat;
    }
  }
}

.our-solution {
  padding-top: 150px;
  .our-solution-platforms {
    background: url("../assets/22090.jpg") no-repeat;
    padding: 100px 0;
    // background-position: -45vw 0;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.95);
      width: 40%;
    }
    .platform-box {
      margin-bottom: 50px;
      background: #fff;
      padding: 40px;
      box-shadow: 32px 0px 64px rgba(0, 0, 0, 0.05);
      font-size: 20px;
      line-height: 36px;
      strong {
        color: $main;
      }
    }
  }
}
.sec-desc {
  font-size: 24px;
  line-height: 40px;
  strong {
    font-weight: 600;
  }
}
.our-platform {
  padding: 100px 0;
  background: #f9f9f9;
  .sub-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $main;
    font-size: 18px;
  }
  .platform-item {
    h3 {
      color: $secondary;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
.market {
  padding: 100px 0;
  .sub-heading {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 18px;
  }
  .market-map {
    margin: 130px auto;
    position: relative;
    &.init {
      .market-item {
        &#australia {
          transition-delay: 0.3s;
          opacity: 1;
        }
        &#us {
          transition-delay: 1.8s;
          opacity: 1;
        }
        &#india {
          transition-delay: 3.3s;
          opacity: 1;
        }
      }
      #australia-pin {
        transform: scale(1, 1);
        transition-delay: 0s;
        opacity: 1;
      }
      #us-pin {
        transform: scale(1, 1);
        transition-delay: 1.5s;
        opacity: 1;
      }
      #india-pin {
        transform: scale(1, 1);
        transition-delay: 3s;
        opacity: 1;
      }
    }

    .market-item {
      font-weight: 600;
      font-size: 26px;
      line-height: 35px;
      opacity: 0;
      transition: all 0.5s;

      .subtext {
        font-size: 16px;
        font-weight: 400;
      }
      &#us {
        position: absolute;
        left: 0;
        top: -90px;
        img {
          position: absolute;
          left: 190px;
          top: 100px;
          width: 110px;
        }
      }
      &#india {
        position: absolute;
        right: 0;
        top: -80px;
        img {
          position: absolute;
          left: 190px;
          top: 100px;
          width: 110px;
        }
      }
      &#australia {
        position: absolute;
        left: 555px;
        top: 300px;
      }
    }
    .map-pin {
      opacity: 0;
      transition: all 0.5s;
      transform: scale(0.2, 0.2);
    }
    #us-pin {
      position: absolute;
      left: 190px;
      top: 30px;
      width: 110px;
    }
    #india-pin {
      position: absolute;
      left: 630px;
      top: 68px;
      width: 110px;
    }
    #australia-pin {
      position: absolute;
      right: 20px;
      top: 210px;
      width: 110px;
    }
  }
  .market-bottom {
    .market-bottom-row {
      margin-bottom: 30px;
      h3 {
        font-weight: 600;
        font-size: 28px;
        color: $main;
        text-transform: uppercase;
        text-align: right;
      }
      p {
        font-size: 20px;
      }
      em {
        font-size: 16px;
      }
    }
  }
}

.how-it-works {
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 11%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 11%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 11%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#ffffff",GradientType=1);
  padding: 100px 0;
  .sec-desc {
    font-size: 20px;
  }
  .how-it-works-timline {
    position: relative;
    &:before {
      content: " ";
      height: 100%;
      width: 6px;
      background: #e2e2e2;
      border-radius: 4px;
      left: calc(50% - 3px);
      top: 0;
      bottom: 0;
      position: absolute;
    }
    .time-line-row {
      margin-bottom: 80px;
      position: relative;
      &:before {
        content: " ";
        height: 0;
        width: 6px;
        background: $main;
        border-radius: 4px;
        left: calc(50% - 3px);
        position: absolute;
        transition: all 0.1s;
      }
      img {
        filter: grayscale(1) brightness(1.5);
      }
      h4 {
        color: $secondary;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }

      &.active {
        &:before {
          height: calc(100% + 50px);
        }
        img {
          filter: grayscale(0) brightness(1);
        }
        h4 {
          color: $main;
        }
        p {
          color: $main;
        }
      }
    }
  }
}

.our-product {
  padding: 100px 0;
  background: #f9f9f9;
  .product-carousel {
    .item {
      h3 {
        color: $main;
        font-size: 28px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        line-height: 32px;
        color: $black;
      }
    }
  }
  .owl-prev {
    position: absolute;
    left: -60px;
    outline: 0;
    top: 20vh;
  }
  .owl-next {
    outline: 0;

    position: absolute;
    right: -60px;
    top: 20vh;
  }
}
.team {
  padding: 100px 0 30px;
  .container {
    padding: 0 100px;
  }
  .team-carousel {
    .owl-stage-outer {
      overflow: visible;
      margin-top: 130px;

      padding: 80px 0;
      .owl-stage {
        display: flex;
        align-items: flex-end;
      }
    }

    .owl-item {
      opacity: 0;
      transition: scale 0.3s !important;
    }
    .owl-item.active {
      opacity: 1;
    }
    .owl-item.active.center {
      transform: scale(1.3);
      transform-origin: bottom;
    }
    .owl-prev {
      position: absolute;
      left: -80px;
      outline: 0;
      top: 35%;
    }
    .owl-next {
      outline: 0;

      position: absolute;
      right: -80px;
      top: 35%;
    }
    .owl-next img,
    .owl-prev img {
      filter: grayscale(1) brightness(1.5);
    }
    .item {
      background: #fff;
      box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
      border-radius: 15px;
      padding: 30px;
      h4 {
        font-size: 22px;
        color: $secondary;
        text-transform: uppercase;
      }
      h6 {
        font-weight: normal;
        font-size: 18px;
        color: $black;
      }
      .avatar {
        border-radius: 15px;
        width: 100%;
        padding-bottom: 130%;
        position: relative;
        overflow: hidden;
        top: -60px;
        margin-bottom: -30px;
        img {
          position: absolute;
          height: 100%;
          width: auto;
          left: -10%;
        }
      }
    }
    // .owl-item{
    // padding-top: 80px;
    // padding-bottom: 80px;
    // }
  }
}
.our-partners {
  padding: 100px 0;
  background: #f9f9f9;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .hero header li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  .hero header .header-cta {
    margin-left: 20px;
  }
  .our-solution .our-solution-platforms {
    min-height: auto;

  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .hero header li a {
    font-size: 1.1vw;
    line-height: 1.4vw;
    padding: 1.6vw 1.1vw 1.4vw;
  }
  .problem h2 {
    font-size: 2.1vw;
    margin: 0vw 0vw 4vw;
  }
  .problem .container h3 {
    font-size: 13.1vw;
    line-height: 9.9vw;
  }
  .problem .container h5 {
    font-size: 1.6vw;
  }
  .problem .problem-content {
    font-size: 1.4vw;
    line-height: 2.7vw;
    margin-top: 2.1vw;
  }
  .problem:after {
    width: 150px;
    height: 70px;
    bottom: -60px;
  }
  .sec-heading {
    font-size: 2.1vw;
  }
  .sec-desc {
    font-size: 1.3vw;
    line-height: 2.1vw;
  }
  .our-solution .our-solution-platforms .platform-box {
    font-size: 1.1vw;
    line-height: 1.9vw;
    padding: 2.1vw;
    margin: 0vw 0vw 2.7vw;
  }
  .our-platform .sub-heading {
    font-size: 1vw;
  }
  .our-platform .platform-item h3 {
    font-size: 1.1vw;
    margin: 0vw 0vw 0.3vw;
  }
  .our-platform .platform-item p {
    font-size: 1vw;
    line-height: 1.6vw;
  }
  .market .sub-heading {
    font-size: 1vw;
    letter-spacing: 1.5px;
  }
  .market .market-bottom .market-bottom-row h3 {
    font-size: 1.5vw;
  }
  .market .market-bottom .market-bottom-row p {
    font-size: 1.1vw;
  }
  .how-it-works .sec-desc {
    font-size: 1.1vw;
  }
  .how-it-works .how-it-works-timline .time-line-row h4 {
    font-size: 1.4vw;
  }
  .how-it-works .how-it-works-timline .time-line-row p {
    font-size: 1.1vw;
    line-height: 1.6vw;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    width: 100px;
  }
  .our-product .product-carousel .item h3 {
    font-size: 1.5vw;
  }
  .our-product .product-carousel .item p {
    font-size: 1.1vw;
    line-height: 1.7vw;
  }
  .team .team-carousel .item h4 {
    font-size: 1.2vw;
  }
  .team .team-carousel .item h6 {
    font-size: 1vw;
  }
}

@media (max-width: 1199px) {
  .hero header .header-cta a {
    font-size: 16px;
  }
  .hero header li a {
    font-size: 16px;
    line-height: 25px;
    padding: 20px 10px;
  }
  .problem h2 {
    font-size: 30px;
    margin: 0vw 0vw 50px;
  }
  .problem .container h3 {
    font-size: 180px;
    line-height: 150px;
  }
  .problem .container h5 {
    font-size: 24px;
  }
  .problem .problem-content {
    font-size: 20px;
    line-height: 32px;
    margin-top: 50px;
  }
  .problem:after {
    width: 150px;
    height: 70px;
    bottom: -65px;
  }
  .sec-heading {
    font-size: 30px;
  }
  .sec-desc {
    font-size: 20px;
    line-height: 32px;
  }
  .our-solution .our-solution-platforms .platform-box {
    font-size: 18px;
    line-height: 30px;
    padding: 30px;
    margin: 0vw 0vw 40px;
  }
  .our-platform .sub-heading {
    font-size: 16px;
  }
  .our-platform .platform-item h3 {
    font-size: 18px;
    margin: 0vw 0vw 20px;
  }
  .our-platform .platform-item p {
    font-size: 16px;
    line-height: 25px;
  }
  .market .sub-heading {
    font-size: 16px;
    line-height: 25px;
  }
  .market .market-bottom .market-bottom-row h3 {
    font-size: 20px;
  }
  .market .market-bottom .market-bottom-row p {
    font-size: 17px;
  }
  .market .market-map .market-item {
    font-size: 18px;
    line-height: 25px;
  }
  .how-it-works .sec-desc {
    font-size: 18px;
  }
  .how-it-works .how-it-works-timline .time-line-row h4 {
    font-size: 22px;
  }
  .how-it-works .how-it-works-timline .time-line-row p {
    font-size: 18px;
    line-height: 30px;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    width: 100px;
  }
  .our-product .product-carousel .item h3 {
    font-size: 22px;
  }
  .our-product .product-carousel .item p {
    font-size: 18px;
    line-height: 30px;
  }
  .team .team-carousel .item h4 {
    font-size: 18px;
  }
  .team .team-carousel .item h6 {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: auto !important;
    nav {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      top: 70px;
      background: $main;
    }
    #menu-toggle {
      width: 30px;
      padding: 10;
      position: absolute;
      right: 25px;
    }
    align-items: center;
    .header-cta {
      margin-left: 0;
      margin-right: 60px;
    }
  }
  .hero .hero-content h1 {
    font-size: 20px;
    margin-top: 30px;
  }
  .logo-mobile {
    width: 100px;
  }
  .market .market-map #us-pin {
    position: absolute;
    left: 19vw;
    top: 3vw;
    width: 11vw;
  }
  .market .market-map #india-pin {
    position: absolute;
    left: 61vw;
    top: 6vw;
    width: 11vw;
  }
  .market .market-map #australia-pin {
    position: absolute;
    right: 1vw;
    top: 20vw;
    width: 11vw;
  }
  .market .market-map .market-item {
    position: static !important;
    margin-top: 20px;
  }
  .market .market-bottom .market-bottom-row h3 {
    text-align: left;
  }
  .how-it-works .how-it-works-timline:before,
  .how-it-works .how-it-works-timline .time-line-row:before {
    display: none;
  }
  .how-it-works .how-it-works-timline .time-line-row img {
    margin-bottom: 20px;
  }
  .our-product .owl-next {
    right: -30px;
    img {
      width: 30px;
    }
  }
  .our-product .owl-prev {
    left: -30px;
    img {
      width: 30px;
    }
  }
  .team .team-carousel .owl-next {
    right: -100px;
  }
  .team .team-carousel .owl-prev {
    left: -100px;
  }
  .our-solution-platforms:before{
    display: none;
  }
}

@media (max-width: 767px) {
  .problem .container h5 {
    font-size: 18px;
  }
  .problem .container h3 {
    font-size: 130px;
    line-height: 110px;
  }
  .our-platform .platform-item {
    margin-bottom: 70px !important;
  }
  .our-platform .platform-item h3 {
    font-size: 20px;
    margin: 20px 0vw 20px;
  }
  .market .sub-heading {
    letter-spacing: 0;
    text-transform: capitalize;
  }
  .market .market-map {
    margin: 30px auto;
  }
  .team .team-carousel .owl-stage-outer {
    margin-top: 30px;
  }
  .team .team-carousel .owl-item.active.center {
    transform: scale(1) !important;
  }
  .team .container {
    padding: 0 50px;
  }
}
